In [1]:
import matplotlib.pyplot as plt
import numpy as np
import random
import pandas as pd
import seaborn as sns

In [2]:
suicide_df = pd.read_csv('Suicide_Rates_Overview_1985_to_2016/suicide_rates.csv')
demografic_df = pd.read_csv('Demographic_and_Socioeconomic_UNESCO/DEMO_DS_29112019163028002.csv')

In [3]:
suicide_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
demografic_df.head()

,DEMO_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1970,1970,2.859,NaN,NaN
1,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1971,1971,2.961,NaN,NaN
2,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1972,1972,2.744,NaN,NaN
3,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1973,1973,2.491,NaN,NaN
4,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1974,1974,2.397,NaN,NaN

In [5]:
#suicide_df['year'] = suicide_df['year'].apply(str)
#suicide_df['ID'] = suicide_df['country']+suicide_df['year']
#suicide_df

In [6]:
#demografic_df['Time'] = demografic_df['Time'].apply(str)
#demografic_df['ID'] = demografic_df['Country']+demografic_df['Time']
#demografic_df

In [7]:
#merge = pd.merge(suicide_df, demografic_df, on='ID', how='left')
#merge

In [8]:
#merge.loc[merge['year'] == 1987]
#merge1 = merge.loc[merge['year'].astype(int) == 1987]
#merge1

In [9]:
suicide_df[~suicide_df['country'].isin(demografic_df['Country'])]['country'].unique()

array(['Czech Republic', 'Macau', 'Saint Vincent and Grenadines',
       'United Kingdom', 'United States'], dtype=object)

In [10]:
demografic_df[(~demografic_df['Country'].isin(suicide_df['country']) & (demografic_df['Time'].astype(int) >= 1985))]['Country'].unique()

array(['Czechia', 'Afghanistan', 'Algeria', 'Andorra', 'Angola',
       'Bangladesh', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Botswana',
       'Brunei Darussalam', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Central African Republic', 'Chad', 'China', 'Comoros',
       'Congo', "Côte d'Ivoire", "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Djibouti',
       'Dominican Republic', 'Egypt', 'Equatorial Guinea', 'Eritrea',
       'Ethiopia', 'French Polynesia', 'Gabon', 'Gambia', 'Ghana',
       'Greenland', 'Guam', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'China, Hong Kong Special Administrative Region',
       'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq',
       'Jordan', 'Kenya', "Lao People's Democratic Republic", 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'North Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Marshall Islands',
       'Mauritania', 'Micronesia (Federated States of)',
       'Republic of Moldova', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'New Caledonia', 'Niger', 'Nigeria',
       'Pakistan', 'Palau', 'Papua New Guinea', 'Peru', 'Rwanda',
       'Saint Vincent and the Grenadines', 'Samoa', 'Saudi Arabia',
       'Sierra Leone', 'Solomon Islands', 'Sudan', 'Syrian Arab Republic',
       'Timor-Leste', 'Togo', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)',
       'United States Virgin Islands', 'Yemen', 'Zambia', 'Zimbabwe',
       'China, Macao Special Administrative Region', 'Curaçao',
       'Sint Maarten (Dutch part)', 'Saint-Martin (French part)',
       'Faeroe Islands', 'Monaco', 'American Samoa', 'Cayman Islands',
       'Northern Mariana Islands', 'Turks and Caicos Islands', 'Anguilla',
       'Cook Islands', 'Montserrat', 'Nauru', 'Sao Tome and Principe',
       'United Republic of Tanzania', 'Uganda', 'Viet Nam', 'Guadeloupe',
       'Isle of Man', 'Channel Islands', 'Tajikistan',
       'United States of America', 'Tunisia', 'Eswatini', 'Senegal',
       'Tonga', 'South Sudan',
       'United Kingdom of Great Britain and Northern Ireland', 'Somalia',
       'Tuvalu', 'Palestine', 'Réunion', 'French Guiana', 'Gibraltar',
       'Western Sahara', 'British Virgin Islands', 'Martinique',
       'Tokelau', 'Mayotte', 'Niue', 'Falkland Islands (Malvinas)',
       'Holy See', 'Saint Helena', 'Saint Pierre and Miquelon',
       'Wallis and Futuna Islands', 'Saint-Barthélemy'], dtype=object)

In [11]:
#demografic_df[(~demografic_df['ID'].isin(suicide_df['ID']) & (demografic_df['Time'].astype(int) >= 1985))]['ID'].unique()

In [12]:
#We have to change from demografic_df
# 'Czechia','China, Macao Special Administrative Region','Saint Vincent and the Grenadines',
#    'United Kingdom of Great Britain and Northern Ireland','United States of America'
# TO
#'Czech Republic', 'Macau', 'Saint Vincent and Grenadines',
#       'United Kingdom', 'United States'   
#We change the name to an easier one, or one that causes less confussion
demografic_df['Country'] = demografic_df['Country'].replace(['China, Macao Special Administrative Region'],'Macau')
demografic_df['Country'] = demografic_df['Country'].replace(['Saint Vincent and the Grenadines'],'Saint Vincent and Grenadines')
demografic_df['Country'] = demografic_df['Country'].replace(['United Kingdom of Great Britain and Northern Ireland'],'United Kingdom')

suicide_df['country'] = suicide_df['country'].replace(['Czech Republic'],'Czechia')
suicide_df['country'] = suicide_df['country'].replace(['United States'],'United States of America')

In [13]:
#Now all countries in the suicide table have their country matched in the demografic table
suicide_df[~suicide_df['country'].isin(demografic_df['Country'])]['country'].unique()

array([], dtype=object)

In [14]:
demografic_df['ID'] = demografic_df['Country']+demografic_df['Time'].astype(str)
demografic_df

,DEMO_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags,ID
0,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1970,1970,2.859,NaN,NaN,Australia1970
1,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1971,1971,2.961,NaN,NaN,Australia1971
2,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1972,1972,2.744,NaN,NaN,Australia1972
3,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1973,1973,2.491,NaN,NaN,Australia1973
4,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1974,1974,2.397,NaN,NaN,Australia1974
...,...,...,...,...,...,...,...,...,...,...
270033,200101,Total population,MAF,Saint-Martin (French part),2015,2015,35.858,NaN,NaN,Saint-Martin (French part)2015
270034,200101,Total population,MAF,Saint-Martin (French part),2016,2016,36.065,NaN,NaN,Saint-Martin (French part)2016
270035,200101,Total population,MAF,Saint-Martin (French part),2017,2017,36.560,NaN,NaN,Saint-Martin (French part)2017
270036,200101,Total population,MAF,Saint-Martin (French part),2018,2018,37.264,NaN,NaN,Saint-Martin (French part)2018
270037,200101,Total population,MAF,Saint-Martin (French part),2019,2019,38.002,NaN,NaN,Saint-Martin (French part)2019

In [15]:
suicide_df['ID'] = suicide_df['country']+suicide_df['year'].astype(str)
suicide_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,ID
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,Albania1987
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,Albania1987
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,Albania1987
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,Albania1987
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,Albania1987
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X,Uzbekistan2014
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent,Uzbekistan2014
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,Uzbekistan2014
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,Uzbekistan2014
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers,Uzbekistan2014

In [16]:
#We convert the indicators into columns
demografic_pivot = demografic_df.pivot('ID','Indicator','Value').rename_axis(columns = None).reset_index()
demografic_pivot

,ID,DEC alternative conversion factor (LCU per US$),"Fertility rate, total (births per woman)",GDP (constant LCU),GDP (current LCU),GDP (current US$),GDP at market prices (constant 2010 US$),GDP deflator (base year varies by country),GDP growth (annual %),GDP per capita (current LCU),...,Population aged 15-24 years,Population aged 25-64 years,Population aged 65 years or older,Population growth (annual %),Poverty headcount ratio at $1.90 a day (PPP) (% of population),"Prevalence of HIV, total (% of population ages 15-49)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,Rural population (% of total population),Total debt service (% of GNI),Total population
0,Afghanistan1970,45.0,7.450,NaN,7.869990e+10,1.748887e+09,NaN,NaN,NaN,7073.43401,...,2087.213,3839.638,294.047,2.47227,NaN,NaN,NaN,88.357,NaN,11173.642
1,Afghanistan1971,45.0,7.450,NaN,8.239990e+10,1.831109e+09,NaN,NaN,NaN,7216.77760,...,2128.966,3917.821,302.405,2.58800,NaN,NaN,NaN,87.979,NaN,11475.445
2,Afghanistan1972,45.0,7.450,NaN,7.180000e+10,1.595555e+09,NaN,NaN,NaN,6125.26565,...,2177.263,4005.496,309.809,2.62866,NaN,NaN,NaN,87.590,NaN,11791.215
3,Afghanistan1973,45.0,7.450,NaN,7.800000e+10,1.733333e+09,NaN,NaN,NaN,6484.96435,...,2230.219,4097.008,315.984,2.57602,NaN,NaN,NaN,87.191,NaN,12108.963
4,Afghanistan1974,45.0,7.450,NaN,9.700000e+10,2.155555e+09,NaN,NaN,NaN,7872.39172,...,2286.182,4185.535,320.690,2.41266,NaN,NaN,NaN,86.781,NaN,12412.950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11637,Zimbabwe2015,1.0,3.836,1.818832e+10,1.996312e+10,1.996312e+10,1.704868e+10,109.75793,1.77987,1265.29441,...,2827.980,4715.285,392.915,2.34564,NaN,14.0,0.53929,67.615,3.13820,13814.629
11638,Zimbabwe2016,1.0,3.760,1.832580e+10,2.054868e+10,2.054868e+10,1.717755e+10,112.12979,0.75587,1272.33545,...,2827.773,4814.988,401.517,2.33607,NaN,13.7,0.54498,67.704,5.89321,14030.331
11639,Zimbabwe2017,1.0,3.682,1.918785e+10,2.204090e+10,2.204090e+10,1.798558e+10,114.86906,4.70404,1333.39566,...,2847.031,4912.759,412.319,2.32286,NaN,13.3,0.54788,67.763,2.06558,14236.595
11640,Zimbabwe2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2887.076,5005.088,424.432,NaN,NaN,NaN,NaN,NaN,NaN,14438.802
11641,Zimbabwe2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2944.883,5089.806,436.524,NaN,NaN,NaN,NaN,NaN,NaN,14645.468

In [17]:
merge = pd.merge(suicide_df, demografic_pivot, on='ID', how='left')
merge

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,Population aged 15-24 years,Population aged 25-64 years,Population aged 65 years or older,Population growth (annual %),Poverty headcount ratio at $1.90 a day (PPP) (% of population),"Prevalence of HIV, total (% of population ages 15-49)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,Rural population (% of total population),Total debt service (% of GNI),Total population
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,NaN,NaN,NaN,64.381,NaN,3124.894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,NaN,0.2,0.36129,49.150,1.34651,30426.388
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,NaN,0.2,0.36129,49.150,1.34651,30426.388
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,NaN,0.2,0.36129,49.150,1.34651,30426.388
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,NaN,0.2,0.36129,49.150,1.34651,30426.388
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,NaN,0.2,0.36129,49.150,1.34651,30426.388

In [18]:
demografic_df2 = demografic_df[(demografic_df['Country'].isin(suicide_df['country']))]

In [19]:
demografic_df[~(demografic_df['Country'].isin(suicide_df['country']))]

,DEMO_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags,ID
1152,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AFG,Afghanistan,1970,1970,7.450,NaN,NaN,Afghanistan1970
1153,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AFG,Afghanistan,1971,1971,7.450,NaN,NaN,Afghanistan1971
1154,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AFG,Afghanistan,1972,1972,7.450,NaN,NaN,Afghanistan1972
1155,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AFG,Afghanistan,1973,1973,7.450,NaN,NaN,Afghanistan1973
1156,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AFG,Afghanistan,1974,1974,7.450,NaN,NaN,Afghanistan1974
...,...,...,...,...,...,...,...,...,...,...
270033,200101,Total population,MAF,Saint-Martin (French part),2015,2015,35.858,NaN,NaN,Saint-Martin (French part)2015
270034,200101,Total population,MAF,Saint-Martin (French part),2016,2016,36.065,NaN,NaN,Saint-Martin (French part)2016
270035,200101,Total population,MAF,Saint-Martin (French part),2017,2017,36.560,NaN,NaN,Saint-Martin (French part)2017
270036,200101,Total population,MAF,Saint-Martin (French part),2018,2018,37.264,NaN,NaN,Saint-Martin (French part)2018
270037,200101,Total population,MAF,Saint-Martin (French part),2019,2019,38.002,NaN,NaN,Saint-Martin (French part)2019

In [20]:
demografic_df2['ID'] = demografic_df2['Country']+demografic_df2['Time'].astype(str)

<ipython-input-20-8a4698b6a98f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demografic_df2['ID'] = demografic_df2['Country']+demografic_df2['Time'].astype(str)

In [21]:
demografic_df2[~(demografic_df2['ID'].isin(merge['ID']))]

,DEMO_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags,ID
0,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1970,1970,2.859,NaN,NaN,Australia1970
1,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1971,1971,2.961,NaN,NaN,Australia1971
2,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1972,1972,2.744,NaN,NaN,Australia1972
3,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1973,1973,2.491,NaN,NaN,Australia1973
4,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1974,1974,2.397,NaN,NaN,Australia1974
...,...,...,...,...,...,...,...,...,...,...
269533,200151,Population aged 65 years or older,SMR,San Marino,2015,2015,6.035,NaN,NaN,San Marino2015
269534,200151,Population aged 65 years or older,SMR,San Marino,2016,2016,6.193,NaN,NaN,San Marino2016
269535,200151,Population aged 65 years or older,SMR,San Marino,2017,2017,6.389,NaN,NaN,San Marino2017
269536,200151,Population aged 65 years or older,SMR,San Marino,2018,2018,6.607,NaN,NaN,San Marino2018
269537,200151,Population aged 65 years or older,SMR,San Marino,2019,2019,6.835,NaN,NaN,San Marino2019

In [22]:
#There are still some values on the demografic table that didn't get into the merge 
#because we don't have information of certain country-years
demografic_df2[~(demografic_df2['ID'].isin(merge['ID'])) 
               & (demografic_df2['Time'].astype(int) >= 1985)
              & (demografic_df2['Time'].astype(int) <= 2016)]['ID'].unique()
#We will conserve this information in a table in case we want to use it to do some predictions

array(['Australia2005', 'Australia2016', 'Belgium2016', 'Canada2014',
       'Canada2015', 'Canada2016', 'Czechia1985', 'Czechia1986',
       'Czechia1987', 'Czechia1988', 'Czechia1989', 'Denmark1985',
       'Denmark1986', 'Denmark1987', 'Denmark1988', 'Denmark1989',
       'Denmark1990', 'Denmark1991', 'Denmark1992', 'Denmark1993',
       'Denmark2016', 'Finland1985', 'Finland1986', 'Finland2016',
       'France2015', 'France2016', 'Germany1985', 'Germany1986',
       'Germany1987', 'Germany1988', 'Germany1989', 'Germany2016',
       'Greece2016', 'Hungary1985', 'Hungary1986', 'Hungary1987',
       'Hungary1988', 'Hungary1989', 'Hungary1990', 'Ireland2015',
       'Ireland2016', 'Italy2016', 'Japan2016', 'Republic of Korea2016',
       'Luxembourg2016', 'Mexico2016', 'New Zealand2014',
       'New Zealand2015', 'New Zealand2016', 'Norway1985', 'Norway2016',
       'Poland1985', 'Poland1986', 'Poland1987', 'Poland1988',
       'Poland1989', 'Poland1997', 'Poland1998', 'Poland2016',
       'Portugal2004', 'Portugal2005', 'Portugal2006', 'Portugal2015',
       'Portugal2016', 'Slovakia1985', 'Slovakia1986', 'Slovakia1987',
       'Slovakia1988', 'Slovakia1989', 'Slovakia1990', 'Slovakia1991',
       'Slovakia2011', 'Slovakia2015', 'Slovakia2016', 'Albania1985',
       'Albania1986', 'Albania1990', 'Albania1991', 'Albania2011',
       'Albania2012', 'Albania2013', 'Albania2014', 'Albania2015',
       'Albania2016', 'Antigua and Barbuda1996',
       'Antigua and Barbuda1997', 'Antigua and Barbuda2010',
       'Antigua and Barbuda2011', 'Antigua and Barbuda2016',
       'Argentina2016', 'Armenia1985', 'Armenia1986', 'Armenia1987',
       'Armenia1988', 'Armenia1989', 'Armenia2004', 'Armenia2005',
       'Aruba1985', 'Aruba1986', 'Aruba1987', 'Aruba1988', 'Aruba1989',
       'Aruba1990', 'Aruba1991', 'Aruba1992', 'Aruba1993', 'Aruba1994',
       'Aruba1996', 'Aruba1997', 'Aruba1998', 'Aruba2012', 'Aruba2013',
       'Aruba2014', 'Aruba2015', 'Aruba2016', 'Azerbaijan1985',
       'Azerbaijan1986', 'Azerbaijan1987', 'Azerbaijan1988',
       'Azerbaijan1989', 'Azerbaijan2005', 'Azerbaijan2006',
       'Azerbaijan2008', 'Azerbaijan2009', 'Azerbaijan2010',
       'Azerbaijan2011', 'Azerbaijan2012', 'Azerbaijan2013',
       'Azerbaijan2014', 'Azerbaijan2015', 'Azerbaijan2016',
       'Bahamas1986', 'Bahamas1988', 'Bahamas1989', 'Bahamas1990',
       'Bahamas1991', 'Bahamas1992', 'Bahamas2014', 'Bahamas2015',
       'Bahamas2016', 'Bahrain1986', 'Bahrain1989', 'Bahrain1990',
       'Bahrain1991', 'Bahrain1992', 'Bahrain1993', 'Bahrain1994',
       'Bahrain1995', 'Bahrain1996', 'Bahrain2015', 'Bahrain2016',
       'Barbados1996', 'Barbados1997', 'Barbados1998', 'Barbados1999',
       'Barbados2014', 'Barbados2015', 'Barbados2016', 'Belize1985',
       'Belize1988', 'Belize1992', 'Belize2016',
       'Bosnia and Herzegovina1985', 'Bosnia and Herzegovina1986',
       'Bosnia and Herzegovina1987', 'Bosnia and Herzegovina1988',
       'Bosnia and Herzegovina1989', 'Bosnia and Herzegovina1990',
       'Bosnia and Herzegovina1991', 'Bosnia and Herzegovina1992',
       'Bosnia and Herzegovina1993', 'Bosnia and Herzegovina1994',
       'Bosnia and Herzegovina1995', 'Bosnia and Herzegovina1996',
       'Bosnia and Herzegovina1997', 'Bosnia and Herzegovina1998',
       'Bosnia and Herzegovina1999', 'Bosnia and Herzegovina2000',
       'Bosnia and Herzegovina2001', 'Bosnia and Herzegovina2002',
       'Bosnia and Herzegovina2003', 'Bosnia and Herzegovina2004',
       'Bosnia and Herzegovina2005', 'Bosnia and Herzegovina2006',
       'Bosnia and Herzegovina2007', 'Bosnia and Herzegovina2008',
       'Bosnia and Herzegovina2009', 'Bosnia and Herzegovina2010',
       'Bosnia and Herzegovina2012', 'Bosnia and Herzegovina2013',
       'Bosnia and Herzegovina2015', 'Bosnia and Herzegovina2016',
       'Brazil2016', 'Bulgaria2015', 'Bulgaria2016', 'Cabo Verde1985',
       'Cabo Verde1986', 'Cabo Verde1987', 'Cabo Verde1988',
       'Cabo Verde1989', 'Cabo Verde1990', 'Cabo Verde1991',
       'Cabo Verde1992', 'Cabo Verde1993', 'Cabo Verde1994',
       'Cabo Verde1995', 'Cabo Verde1996', 'Cabo Verde1997',
       'Cabo Verde1998', 'Cabo Verde1999', 'Cabo Verde2000',
       'Cabo Verde2001', 'Cabo Verde2002', 'Cabo Verde2003',
       'Cabo Verde2004', 'Cabo Verde2005', 'Cabo Verde2006',
       'Cabo Verde2007', 'Cabo Verde2008', 'Cabo Verde2009',
       'Cabo Verde2010', 'Cabo Verde2012', 'Cabo Verde2013',
       'Cabo Verde2014', 'Cabo Verde2015', 'Cabo Verde2016', 'Chile2016',
       'Colombia2016', 'Costa Rica2015', 'Costa Rica2016', 'Croatia1985',
       'Croatia1986', 'Croatia1987', 'Croatia1988', 'Croatia1989',
       'Croatia1990', 'Croatia1991', 'Croatia1992', 'Croatia1993',
       'Croatia1994', 'Cuba1985', 'Cuba1986', 'Cuba1987', 'Cuba1988',
       'Cuba1989', 'Cuba1990', 'Cuba1991', 'Cuba2016', 'Cyprus1985',
       'Cyprus1986', 'Cyprus1987', 'Cyprus1988', 'Cyprus1989',
       'Cyprus1990', 'Cyprus1991', 'Cyprus1992', 'Cyprus1993',
       'Cyprus1994', 'Cyprus1995', 'Cyprus1996', 'Cyprus1997',
       'Cyprus1998', 'Cyprus2001', 'Cyprus2002', 'Cyprus2003',
       'Dominica1987', 'Dominica1992', 'Dominica1997', 'Dominica2002',
       'Dominica2003', 'Ecuador2016', 'El Salvador1985',
       'El Salvador1986', 'El Salvador1987', 'El Salvador1988',
       'El Salvador1989', 'El Salvador1994', 'El Salvador2015',
       'El Salvador2016', 'Estonia1985', 'Estonia1986', 'Estonia1987',
       'Estonia1988', 'Estonia1989', 'Estonia1990', 'Estonia1991',
       'Estonia1992', 'Estonia1993', 'Estonia1994', 'Estonia2016',
       'Fiji1985', 'Fiji1986', 'Fiji1987', 'Fiji1988', 'Fiji1989',
       'Fiji1990', 'Fiji1991', 'Fiji1992', 'Fiji1993', 'Fiji1994',
       'Fiji1995', 'Fiji1996', 'Fiji1997', 'Fiji1998', 'Fiji1999',
       'Fiji2000', 'Fiji2010', 'Fiji2013', 'Fiji2014', 'Fiji2015',
       'Fiji2016', 'Georgia1985', 'Georgia1986', 'Georgia1987',
       'Georgia1988', 'Georgia1989', 'Georgia1993', 'Georgia2002',
       'Georgia2003', 'Georgia2008', 'Georgia2016', 'Grenada1986',
       'Grenada1987', 'Grenada1997', 'Grenada1998', 'Grenada1999',
       'Grenada2000', 'Guatemala1985', 'Guatemala2016', 'Guyana1985',
       'Guyana1986', 'Guyana1987', 'Guyana2000', 'Guyana2014',
       'Guyana2015', 'Guyana2016', 'Israel2016', 'Jamaica1992',
       'Jamaica1993', 'Jamaica1994', 'Jamaica1995', 'Jamaica1996',
       'Jamaica1997', 'Jamaica1998', 'Jamaica1999', 'Jamaica2007',
       'Jamaica2008', 'Jamaica2012', 'Jamaica2013', 'Jamaica2014',
       'Jamaica2015', 'Jamaica2016', 'Kazakhstan1985', 'Kazakhstan1986',
       'Kazakhstan1987', 'Kazakhstan1988', 'Kazakhstan1989',
       'Kazakhstan2016', 'Kiribati1985', 'Kiribati1986', 'Kiribati1987',
       'Kiribati1988', 'Kiribati1989', 'Kiribati1990', 'Kiribati2002',
       'Kiribati2003', 'Kiribati2004', 'Kiribati2005', 'Kiribati2006',
       'Kiribati2007', 'Kiribati2008', 'Kiribati2009', 'Kiribati2010',
       'Kiribati2011', 'Kiribati2012', 'Kiribati2013', 'Kiribati2014',
       'Kiribati2015', 'Kiribati2016', 'Kuwait1988', 'Kuwait1989',
       'Kuwait1990', 'Kuwait1991', 'Kuwait1992', 'Kuwait2015',
       'Kuwait2016', 'Kyrgyzstan1985', 'Kyrgyzstan1986', 'Kyrgyzstan1987',
       'Kyrgyzstan1988', 'Kyrgyzstan1989', 'Kyrgyzstan2016', 'Latvia1985',
       'Latvia1986', 'Latvia1987', 'Latvia1988', 'Latvia1989',
       'Latvia1990', 'Latvia1991', 'Latvia1992', 'Latvia1993',
       'Latvia1994', 'Latvia2016', 'Lithuania1985', 'Lithuania1986',
       'Lithuania1987', 'Lithuania1988', 'Lithuania1989', 'Lithuania1990',
       'Lithuania1991', 'Lithuania1992', 'Lithuania1993', 'Lithuania1994',
       'Maldives1985', 'Maldives1986', 'Maldives1987', 'Maldives1988',
       'Maldives1989', 'Maldives1990', 'Maldives1991', 'Maldives1992',
       'Maldives1993', 'Maldives1994', 'Maldives1995', 'Maldives1996',
       'Maldives1997', 'Maldives1998', 'Maldives1999', 'Maldives2006',
       'Maldives2009', 'Maldives2012', 'Maldives2013', 'Maldives2014',
       'Maldives2015', 'Maldives2016', 'Malta2016', 'Mongolia1985',
       'Mongolia1986', 'Mongolia1987', 'Mongolia1988', 'Mongolia1989',
       'Mongolia1990', 'Mongolia1991', 'Mongolia1992', 'Mongolia1993',
       'Mongolia1994', 'Mongolia1995', 'Mongolia1996', 'Mongolia1997',
       'Mongolia1998', 'Mongolia1999', 'Mongolia2000', 'Mongolia2001',
       'Mongolia2002', 'Mongolia2003', 'Mongolia2004', 'Mongolia2005',
       'Mongolia2006', 'Mongolia2007', 'Mongolia2008', 'Mongolia2009',
       'Mongolia2010', 'Mongolia2011', 'Mongolia2012', 'Mongolia2013',
       'Mongolia2014', 'Mongolia2015', 'Nicaragua1985', 'Nicaragua1986',
       'Nicaragua1987', 'Nicaragua1988', 'Nicaragua1989', 'Nicaragua1990',
       'Nicaragua1991', 'Nicaragua1992', 'Nicaragua1993', 'Nicaragua1994',
       'Nicaragua1995', 'Nicaragua1996', 'Nicaragua1997', 'Nicaragua1998',
       'Nicaragua1999', 'Nicaragua2000', 'Nicaragua2001', 'Nicaragua2002',
       'Nicaragua2003', 'Nicaragua2004', 'Nicaragua2005', 'Nicaragua2006',
       'Nicaragua2007', 'Nicaragua2008', 'Nicaragua2009', 'Nicaragua2016',
       'Oman1985', 'Oman1986', 'Oman1987', 'Oman1988', 'Oman1989',
       'Oman1990', 'Oman1991', 'Oman1992', 'Oman1993', 'Oman1994',
       'Oman1995', 'Oman1996', 'Oman1997', 'Oman1998', 'Oman1999',
       'Oman2000', 'Oman2001', 'Oman2002', 'Oman2003', 'Oman2004',
       'Oman2005', 'Oman2006', 'Oman2007', 'Oman2008', 'Oman2011',
       'Oman2012', 'Oman2013', 'Oman2015', 'Oman2016', 'Panama1990',
       'Panama1991', 'Panama1992', 'Panama1993', 'Panama1994',
       'Panama1995', 'Panama2016', 'Paraguay1988', 'Paraguay1992',
       'Paraguay1993', 'Paraguay2015', 'Paraguay2016', 'Puerto Rico2016',
       'Russian Federation1985', 'Russian Federation1986',
       'Russian Federation1987', 'Russian Federation1988',
       'Russian Federation2016', 'Saint Vincent and Grenadines1988',
       'Saint Vincent and Grenadines1989',
       'Saint Vincent and Grenadines1991',
       'Saint Vincent and Grenadines1992',
       'Saint Vincent and Grenadines1993',
       'Saint Vincent and Grenadines1994',
       'Saint Vincent and Grenadines2016', 'Seychelles1992',
       'Seychelles1997', 'Seychelles1998', 'Seychelles1999',
       'Seychelles2000', 'Seychelles2016', 'Singapore2016', 'Uruguay1991',
       'Uruguay1992', 'Uruguay2011', 'Uruguay2016', 'Uzbekistan1985',
       'Uzbekistan1986', 'Uzbekistan1987', 'Uzbekistan1988',
       'Uzbekistan1989', 'Uzbekistan2006', 'Uzbekistan2007',
       'Uzbekistan2008', 'Uzbekistan2015', 'Uzbekistan2016', 'Macau1985',
       'Macau1986', 'Macau1987', 'Macau1988', 'Macau1989', 'Macau1990',
       'Macau1991', 'Macau1992', 'Macau1993', 'Macau1995', 'Macau1996',
       'Macau1997', 'Macau1998', 'Macau1999', 'Macau2000', 'Macau2001',
       'Macau2002', 'Macau2003', 'Macau2004', 'Macau2005', 'Macau2006',
       'Macau2007', 'Macau2008', 'Macau2009', 'Macau2010', 'Macau2011',
       'Macau2012', 'Macau2013', 'Macau2014', 'Macau2015', 'Macau2016',
       'Serbia1991', 'Serbia1995', 'Serbia1997', 'Serbia2016',
       'Montenegro1985', 'Montenegro1986', 'Montenegro1987',
       'Montenegro1988', 'Montenegro1989', 'Montenegro1990',
       'Montenegro1991', 'Montenegro1992', 'Montenegro1993',
       'Montenegro1994', 'Montenegro1995', 'Montenegro1996',
       'Montenegro1997', 'Montenegro1998', 'Montenegro1999',
       'Montenegro2010', 'Montenegro2011', 'Montenegro2012',
       'Montenegro2013', 'Montenegro2014', 'Montenegro2015',
       'Montenegro2016', 'San Marino2012', 'Seychelles1988',
       'Seychelles1989', 'Seychelles1990', 'Seychelles1991',
       'Seychelles1993', 'Seychelles1994', 'Seychelles1995',
       'Seychelles1996', 'Dominica1986', 'Dominica1988', 'Dominica1989',
       'Dominica1990', 'Dominica1991', 'Dominica1993', 'Dominica1994',
       'Dominica1995', 'Dominica1996', 'Dominica1998', 'Dominica1999',
       'Dominica2000', 'Dominica2001', 'Dominica2004', 'Dominica2005',
       'Dominica2006', 'Dominica2007', 'Dominica2008', 'Dominica2009',
       'Dominica2010', 'Dominica2011', 'Dominica2012', 'Dominica2013',
       'Dominica2014', 'Dominica2015', 'Dominica2016', 'Romania1985',
       'Romania1986', 'Romania1987', 'Romania1988', 'San Marino1985',
       'San Marino1986', 'San Marino1987', 'San Marino1988',
       'San Marino1989', 'San Marino1990', 'San Marino1991',
       'San Marino1992', 'San Marino1993', 'San Marino1994',
       'San Marino1995', 'San Marino1996', 'San Marino1997',
       'San Marino1998', 'San Marino2001', 'San Marino2002',
       'San Marino2003', 'San Marino2004', 'San Marino2006',
       'San Marino2007', 'San Marino2008', 'San Marino2009',
       'San Marino2010', 'San Marino2011', 'San Marino2013',
       'San Marino2014', 'San Marino2015', 'San Marino2016', 'Serbia1985',
       'Serbia1986', 'Serbia1987', 'Serbia1988', 'Serbia1989',
       'Serbia1990', 'Serbia1992', 'Serbia1993', 'Serbia1994',
       'Serbia1996', 'Ukraine2013', 'Ukraine2016',
       'Saint Kitts and Nevis1993', 'Saint Kitts and Nevis1994',
       'Saint Kitts and Nevis1995', 'Saint Kitts and Nevis1996',
       'Saint Kitts and Nevis1997', 'Saint Kitts and Nevis1998',
       'Saint Kitts and Nevis1999', 'Saint Kitts and Nevis2000',
       'Saint Kitts and Nevis2001', 'Saint Kitts and Nevis2002',
       'Saint Kitts and Nevis2003', 'Saint Kitts and Nevis2004',
       'Saint Kitts and Nevis2005', 'Saint Kitts and Nevis2006',
       'Saint Kitts and Nevis2007', 'Saint Kitts and Nevis2008',
       'Saint Kitts and Nevis2009', 'Saint Kitts and Nevis2010',
       'Saint Kitts and Nevis2011', 'Saint Kitts and Nevis2012',
       'Saint Kitts and Nevis2013', 'Saint Kitts and Nevis2014',
       'Saint Kitts and Nevis2015', 'Saint Kitts and Nevis2016',
       'Suriname1993', 'Suriname1994', 'Suriname2015', 'Suriname2016',
       'Turkmenistan1985', 'Turkmenistan1986', 'Turkmenistan2016',
       'Slovenia2016', 'Philippines1985', 'Philippines1986',
       'Philippines1987', 'Philippines1988', 'Philippines1989',
       'Philippines1990', 'Philippines1991', 'Philippines1994',
       'Philippines1995', 'Philippines1996', 'Philippines2004',
       'Philippines2005', 'Philippines2012', 'Philippines2013',
       'Philippines2014', 'Philippines2015', 'Philippines2016',
       'Turkey1985', 'Turkey1986', 'Turkey1987', 'Turkey1988',
       'Turkey1989', 'Turkey1990', 'Turkey1991', 'Turkey1992',
       'Turkey1993', 'Turkey1994', 'Turkey1995', 'Turkey1996',
       'Turkey1997', 'Turkey1998', 'Turkey1999', 'Turkey2000',
       'Turkey2001', 'Turkey2002', 'Turkey2003', 'Turkey2004',
       'Turkey2005', 'Turkey2006', 'Turkey2007', 'Turkey2008',
       'Turkey2016', 'United Arab Emirates1985',
       'United Arab Emirates1986', 'United Arab Emirates1987',
       'United Arab Emirates1988', 'United Arab Emirates1989',
       'United Arab Emirates1990', 'United Arab Emirates1991',
       'United Arab Emirates1992', 'United Arab Emirates1993',
       'United Arab Emirates1994', 'United Arab Emirates1995',
       'United Arab Emirates1996', 'United Arab Emirates1997',
       'United Arab Emirates1998', 'United Arab Emirates1999',
       'United Arab Emirates2000', 'United Arab Emirates2001',
       'United Arab Emirates2002', 'United Arab Emirates2003',
       'United Arab Emirates2004', 'United Arab Emirates2011',
       'United Arab Emirates2012', 'United Arab Emirates2013',
       'United Arab Emirates2014', 'United Arab Emirates2015',
       'United Arab Emirates2016', 'Saint Lucia2007', 'Saint Lucia2015',
       'Saint Lucia2016', 'South Africa1990', 'South Africa1991',
       'South Africa1992', 'South Africa1993', 'South Africa1994',
       'South Africa1995', 'South Africa2016', 'Switzerland1985',
       'Switzerland1986', 'Switzerland1987', 'Switzerland1988',
       'Switzerland1989', 'Switzerland1990', 'Switzerland1991',
       'Switzerland1992', 'Switzerland1993', 'Switzerland1994',
       'Switzerland2016', 'United States of America2016', 'Belarus1985',
       'Belarus1986', 'Belarus1987', 'Belarus1988', 'Belarus1989',
       'Belarus2004', 'Belarus2005', 'Belarus2006', 'Belarus2012',
       'Belarus2015', 'Belarus2016', 'Sri Lanka1987', 'Sri Lanka1988',
       'Sri Lanka1989', 'Sri Lanka1990', 'Sri Lanka1991', 'Sri Lanka1992',
       'Sri Lanka1993', 'Sri Lanka1994', 'Sri Lanka1995', 'Sri Lanka2004',
       'Sri Lanka2005', 'Sri Lanka2007', 'Sri Lanka2008', 'Sri Lanka2009',
       'Sri Lanka2010', 'Sri Lanka2011', 'Sri Lanka2012', 'Sri Lanka2013',
       'Sri Lanka2014', 'Sri Lanka2015', 'Sri Lanka2016', 'Qatar1985',
       'Qatar1986', 'Qatar1987', 'Qatar1988', 'Qatar1989', 'Qatar1990',
       'Qatar1991', 'Qatar1992', 'Qatar1993', 'Qatar1994', 'Qatar1996',
       'Qatar1997', 'Qatar1998', 'Qatar1999', 'Qatar2000', 'Qatar2002',
       'Qatar2003', 'Trinidad and Tobago2012', 'Trinidad and Tobago2013',
       'Trinidad and Tobago2014', 'Trinidad and Tobago2015',
       'Trinidad and Tobago2016', 'South Africa1985', 'South Africa1986',
       'South Africa1987', 'South Africa1988', 'South Africa1989',
       'Thailand1988', 'Thailand1989', 'Thailand1993', 'Thailand2001',
       'Saint Kitts and Nevis1985', 'Saint Kitts and Nevis1986',
       'Saint Kitts and Nevis1987', 'Saint Kitts and Nevis1988',
       'Saint Kitts and Nevis1989', 'Sweden1985', 'Sweden1986',
       'Saint Lucia1985', 'Ukraine1985', 'Ukraine1986',
       'United Kingdom2016', 'Spain2016', 'Slovenia1985', 'Slovenia1986',
       'Slovenia1987', 'Slovenia1988', 'Slovenia1989', 'Slovenia1990',
       'Slovenia1991', 'Slovenia1992', 'Slovenia1993', 'Slovenia1994'],
      dtype=object)

In [23]:
demografic_df['Indicator'].unique()

array(['Fertility rate, total (births per woman)',
       'Life expectancy at birth, total (years)',
       'Mortality rate, infant (per 1,000 live births)',
       'Population growth (annual %)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Rural population (% of total population)', 'GDP (current LCU)',
       'GDP (current US$)', 'GDP deflator (base year varies by country)',
       'GDP growth (annual %)', 'GDP per capita (current US$)',
       'GDP per capita, PPP (current international $)',
       'GDP, PPP (current international $)',
       'General government total expenditure (current LCU)',
       'GNI per capita, Atlas method (current US$)',
       'GNI per capita, PPP (current international $)',
       'Poverty headcount ratio at $1.90 a day (PPP) (% of population)',
       'PPP conversion factor, GDP (LCU per international $)',
       'Total debt service (% of GNI)', 'Total population ',
       'Population aged 65 years or older ',
       'Population aged 25-64 years ',
       'Population aged 14 years or younger ',
       'Population aged 15-24 years ', 'GNI per capita (current LCU)',
       'GDP at market prices (constant 2010 US$)',
       'Price level ratio of PPP conversion factor (GDP) to market exchange rate',
       'Official exchange rate (LCU per US$, period average)',
       'GDP (constant LCU)',
       'DEC alternative conversion factor (LCU per US$)',
       'PPP conversion factor, private consumption (LCU per international $)',
       'GNI (current LCU)',
       'GDP per capita, PPP (constant 2011 international $)',
       'GDP, PPP (constant 2011 international $)',
       'GDP per capita (current LCU)'], dtype=object)

In [24]:
len(demografic_df['Indicator'].unique())

35

In [25]:
merge = merge.fillna(0)
merge

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,Population aged 15-24 years,Population aged 25-64 years,Population aged 65 years or older,Population growth (annual %),Poverty headcount ratio at $1.90 a day (PPP) (% of population),"Prevalence of HIV, total (% of population ages 15-49)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,Rural population (% of total population),Total debt service (% of GNI),Total population
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.000,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.000,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.000,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.000,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.000,"2,156,624,900",...,620.496,1287.052,169.096,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",...,6099.891,14463.446,1239.518,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388

In [28]:
plt.figure()
sns.pairplot(merge,palette = 'plasma')
plt.tight_layout()
plt.show()

KeyboardInterrupt:

Error in callback <function flush_figures at 0x0000027CDE624DC0> (for post_execute):

KeyboardInterrupt:

In [27]:
merge['age'].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [43]:
merge = merge.drop(columns=['Population aged 15-24 years ','Population aged 14 years or younger ','Population aged 25-64 years ',
                   'Population aged 65 years or older '])
merge

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,"Official exchange rate (LCU per US$, period average)","PPP conversion factor, GDP (LCU per international $)","PPP conversion factor, private consumption (LCU per international $)",Population growth (annual %),Poverty headcount ratio at $1.90 a day (PPP) (% of population),"Prevalence of HIV, total (% of population ages 15-49)",Price level ratio of PPP conversion factor (GDP) to market exchange rate,Rural population (% of total population),Total debt service (% of GNI),Total population
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.000,"2,156,624,900",...,0.00000,0.00000,0.0,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.000,"2,156,624,900",...,0.00000,0.00000,0.0,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.000,"2,156,624,900",...,0.00000,0.00000,0.0,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.000,"2,156,624,900",...,0.00000,0.00000,0.0,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.000,"2,156,624,900",...,0.00000,0.00000,0.0,1.99704,0.0,0.0,0.00000,64.381,0.00000,3124.894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",...,2310.94816,835.51124,0.0,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",...,2310.94816,835.51124,0.0,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",...,2310.94816,835.51124,0.0,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",...,2310.94816,835.51124,0.0,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",...,2310.94816,835.51124,0.0,1.68690,0.0,0.2,0.36129,49.150,1.34651,30426.388